################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Stanford.NLP/.vs/Stanford.NLP
/Stanford.NLP/binaries
